body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.char {
    width: auto;
    height: auto;
}

.edge {
    stroke: #bdc3c7;
    stroke-opacity: 0.6;
    stroke-width: 2px;
    fill: transparent;
}

.node {
    stroke: #2980b9;
    stroke-width: 2.5px;
    fill: #2980b9;
}

.current-node {
    stroke: #1abc9c;
}
